/* ===RESET=== */
    padding: 0px;
    margin: 0px;
    box-sizing:border-box; }

    /*my balls itch*/
html{font-family: 'Roboto', sans-serif;}

p{background-color: lightblue
border: 2px solid black;}
p:first-child {20px solid black;}

.dickass{
    font-family: 'K2D', sans-serif;
nav {
    background-color: slategrey;
    }

    .ballsdick{
        
    }

header {
    background-color: mediumvioletred;
    height=200px;
}

.sec-one {
    background-color: orange;
/*    height=300px; */
}

.sec-one div {
    width: 150px;
    height: 150px;
    background-color:aqua
}
.sec-two {
    background-color: lawngreen;
    height=300px;
}

.sec-three {
    background-color: blue;
height=300px;
}

.sec-four {
    background-color: lawngreen;
    height=300px;
}

footer {
    background-color: slateblue;
    height=225px;
}